<!-- Modal Eliminar -->
<div class="modal fade" tabindex="-1" id="deleteModal" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title mx-auto">Eliminar Area</h5>
        </div>
        <div class="modal-body text-center">
          <p>¿Estás seguro de que deseas eliminar este elemento?</p>        
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" (click)="eliminarArea(areadata.id_area!)" data-bs-dismiss="modal">Delete</button>
        </div>
      </div>
    </div>
</div>